<div class="container">
  <h1>{{ editModeOn ? "Edit Mode" : "View Mode" }}</h1>
  <mat-slide-toggle
    (change)="toggleEditMode()"
    [formControl]="autoRenew"
    [checked]="autoRenew"
    color="primary"
    ><h1>
      {{ editModeOn ? "Turn OFF Edit Mode" : "Turn ON Edit Mode" }}
    </h1></mat-slide-toggle
  >
</div>

<div class="grid-container">
  <div class="grid-item" [ngClass]="{ 'overflowAuto darker-background': editModeOn, 'overflowHidden': !editModeOn}" *ngFor="let card of cards" >
    <div class="flip-card" [ngClass]="{ displayNone: editModeOn }">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div>{{ card.title }}</div>
        </div>
        <div class="flip-card-back">
          <ul
            *ngIf="
              !editionStarted || (editionStarted && titleInEdit !== card.title)
            "
          >
            <ng-container *ngFor="let translation of card.translations">
              <div class="one-translation" *ngIf="translation.saved">
                <li
                  *ngIf="translation.saved"
                  [innerHTML]="translation.source"
                ></li>
                <div
                  *ngIf="translation.saved"
                  [innerHTML]="translation.target"
                ></div>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="editModeOn">
        <button
          mat-raised-button
          *ngIf="editModeOn"
          (click)="editFlashcard(card.title)"
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="warn"
          *ngIf="editModeOn"
          (click)="deleteFlashcard(card.title)"
        >
          Delete
        </button>
        <br />
        <br />
        {{ card.title }}

        <mat-selection-list
          *ngIf="translations && titleInEdit === card.title"
          (selectionChange)="onCheckboxChange($event, card.title)"
          #list
        >
          <mat-list-option
            *ngFor="let translation of translations"
            [value]="[translation, translations]"
          >
            <p [innerHTML]="translation.source"></p>
            <p [innerHTML]="translation.target"></p>
          </mat-list-option>
        </mat-selection-list>
        <button
          *ngIf="translations && titleInEdit === card.title"
          mat-raised-button
					(click)="endSaveMode()"
					class="save-edition"
        >
          Save edit
        </button>
      </div>
    </div>
  </div>
</div>
