<div class="container">
  <h1>{{ editModeOn ? "Edit Mode" : "View Mode" }}</h1>
  <mat-slide-toggle color="primary" (click)="toggleEditMode()"><h1>{{
    editModeOn ? "Turn OFF Edit Mode" : "Turn ON Edit Mode"
  }}</h1></mat-slide-toggle>
</div>

<div *ngFor="let card of cards">
  <b>{{ card.title }}</b>
  <br />
  <button *ngIf="editModeOn" (click)="editFlashcard(card.title)">Edit</button>
  <button *ngIf="editModeOn" (click)="deleteFlashcard(card.title)">
    Delete
  </button>
  <ul *ngIf="!editionStarted || (editionStarted && titleInEdit !== card.title)">
    <ng-container *ngFor="let translation of card.translations">
      <div class="one-translation">
        <li *ngIf="translation.saved" [innerHTML]="translation.source"></li>
        <div *ngIf="translation.saved" [innerHTML]="translation.target"></div>
      </div>
    </ng-container>
  </ul>
  <div *ngIf="translations && titleInEdit === card.title">
    <ul>
      <li *ngFor="let translation of translations">
        <p [innerHTML]="translation.source"></p>
        <p [innerHTML]="translation.target"></p>
        Save
        <input
          type="checkbox"
          (change)="
            onCheckboxChange(
              card.title,
              $event.target.checked,
              translation.source,
              translation.target,
              translations
            )
          "
        />
      </li>
    </ul>
    <button (click)="endSaveMode()">Save edition</button>
  </div>
</div>
