<div class="container">
  <h1>{{ editModeOn ? "Edit Mode" : "View Mode" }}</h1>
  <mat-slide-toggle
    (change)="toggleEditMode()"
    [formControl]="autoRenew"
    [checked]="autoRenew"
    color="primary"
    ><h1>
      {{ editModeOn ? "Turn OFF Edit Mode" : "Turn ON Edit Mode" }}
    </h1></mat-slide-toggle
  >
</div>

<div class="grid-container">
  <div class="grid-item" *ngFor="let card of cards">
    <div>
      <button
        mat-raised-button
        *ngIf="editModeOn"
        (click)="editFlashcard(card.title)"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        *ngIf="editModeOn"
        (click)="deleteFlashcard(card.title)"
      >
        Delete
      </button>
      <br />
      {{ card.title }}
      <ul
        *ngIf="
          !editionStarted || (editionStarted && titleInEdit !== card.title)
        "
      >
        <ng-container *ngFor="let translation of card.translations">
          <div class="one-translation">
            <li *ngIf="translation.saved" [innerHTML]="translation.source"></li>
            <div
              *ngIf="translation.saved"
              [innerHTML]="translation.target"
            ></div>
          </div>
        </ng-container>
      </ul>
      <div *ngIf="translations && titleInEdit === card.title">
        <mat-selection-list
          (selectionChange)="onCheckboxChange($event, card.title)"
          #list
        >
          <mat-list-option
            *ngFor="let translation of translations"
            [value]="[translation, translations]"
          >
            <p [innerHTML]="translation.source"></p>
            <p [innerHTML]="translation.target"></p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button (click)="endSaveMode()">Save edition</button>
      </div>
    </div>
  </div>
</div>
