<div class="container">
  <div class="input">
    <input
      type="text"
      #searchInput
      (keyup.enter)="sendInputValue(searchInput.value)"
    />
  </div>
  <div class="button">
    <button (click)="sendInputValue(searchInput.value)">
      Search
    </button>
  </div>
</div>

<h3>{{ title }}</h3>

<div *ngIf="translations">
  <ul>
    <li *ngFor="let translation of translations">
      <p [innerHTML]="translation.source"></p>
      <p [innerHTML]="translation.target"></p>
      Zapisz
      <input
        type="checkbox"
        (change)="
          onCheckboxChange(
            $event.target.checked,
            translation.source,
            translation.target,
            translations
          )
        "
      />
    </li>
  </ul>
</div>
